# file ausiliari di LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdf #questa riga poi la posso commentare quando il pdf sarà quasi pronto e mi servirà
*.bbl
*.big

# eventuali cartelle di sistema (su mac solitamente)
.DS_Store