# file ausiliari di LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg

# questa riga sotto poi si può commentare o rimuovere quando ti servirà il file pdf finito e pronto all'uso
*.pdf

# eventuali cartelle di sistema (su mac solitamente)
.DS_Store
